<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151065458385-r1h2hg4sfsbdit625tn9r61qgjbu0jmo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151065458385-r1h2hg4sfsbdit625tn9r61qgjbu0jmo</string>
	<key>API_KEY</key>
	<string>__GOOGLE_API_KEY__</string>
	<key>GCM_SENDER_ID</key>
	<string>151065458385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.a6n.rocketchat</string>
	<key>PROJECT_ID</key>
	<string>rocketchat-382615</string>
	<key>STORAGE_BUCKET</key>
	<string>rocketchat-382615.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151065458385:ios:67beea4008c575263cb7f0</string>
</dict>
</plist>